{% extends "admin/base_site.html" %} {% block extrahead %}
<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/vazir-font/29.1.0/font-face.css"
    integrity="sha512-ZHFuHiK3EA1uh2tx7nB0j9HyXR/IAFW24KVNFGjY8QIjtDKHmcowjUyObXF40wYrG25+kECHEbH8rL+HbvRwYA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
</head>
<style>
  body {
    font-family: Vazir;
  }
</style>

{% endblock %} {% block branding %}
<h1 id="site-name">پنل مدیریت نیمکت آکادمی</h1>
{% endblock %}
